@{
}
@model WebApp.Models.PropertyDetailsModel

<div class="card">
    <div class="card-body">
        <form asp-controller="PropertyManagement" asp-action="RegisterProperty" method="post">
            <div class="form-group">
                <label asp-for="Name">Property Name:</label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Blurb">Blurb:</label>
                <input asp-for="Blurb" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Location">Location:</label>
                <input asp-for="Location" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="NumberOfBedrooms">Number of bedrooms:</label>
                <input asp-for="NumberOfBedrooms" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="CostPerNight">Cost per night:</label>
                <input asp-for="CostPerNight" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Description">Description:</label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <p>Main property image:</p>
                <label for="fileInput" class="image-input" id="imageInputContainer">
                    <input type="file" id="fileInput" name="mainImage" accept="image/*" onchange="previewImage()">
                     <div class="plus-icon">+</div>
                    <img class="image-preview" id="imagePreview" alt="Image Preview">
                </label>
             </div>
            <button type="submit" class="btn btn-primary">Register Property</button>
        </form>
    </div>
</div>

<script>
    function previewImage() {
        var input = document.getElementById('fileInput');
        var container = document.getElementById('imageInputContainer');
        var preview = document.getElementById('imagePreview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
                container.classList.add('has-image');
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>