@using DataEntities.Entities

@model IEnumerable<Booking>

@{
    ViewBag.Title = "My bookings";
}
<div class="container-fluid">
<div class="row">
    @foreach (var booking in Model)
    {
        <div class="col-sm-auto col-md-auto col-lg-auto">
            <partial name="_BookingCard" model=booking />
        </div>
    }
</div>
</div>