@model IEnumerable<PropertyListingModel>

@{
    ViewBag.Title = "Property Listings";
}

<h2>Property Listings</h2>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Property Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model)
            {
                <tr>
                    @*Make sure if can be done better*@
                    <td>
                        <a href="viewpropertydetails/@property.Id">
                            @property.Name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No properties available.</p>
}