@model IEnumerable<PropertyListingModel>

@{
    ViewBag.Title = "Property Listings";
}

<h2>Property Listings</h2>

@if (Model.Any())
{
    <div class="container-fluid">
        <div class="row" >
        @foreach (var property in Model)
        {
           <partial name="_PropertyCardPartial" model="property" />
        }
        </div>
    </div>
}
else
{
    <p>No properties available.</p>
}